<!-- About-->
<section id="about" class="bg-gradient about-section">
    <div class="container">
        <header class="text-center">
            <h2 data-animate="fadeInRight" class="title">About me</h2>
        </header>
        <div class="lead">

            <div data-animate="fadeInUp" class="container text-center"><img src="img/logo.jpeg"
                    alt="This is me - RohanDas" class="image rounded-circle img-fluid"></div>

            <div data-animate="fadeInUp" class="col-lg-20">
                <p>
                    <center>"Here I will talk about myself in the third person."</center>
                </p>
                <p>Rohan Das is young and passionate Python coder, who has a good command in Python, HTML, CSS. Also, he
                    is a creative graphic designer and enthusiastic techie who has a YouTube channel where he discusses
                    tech-stuff.
                    For more information, you can contact me via mail and social media.</p>
            </div>
        </div>
    </div>
</section>