<!-- Contact-->
<section id="contact" class="bg-gradient contact-section contact">
    <div class="center">
        <header class="text-center" data-animate="fadeInLeft">
            <h2 class="title">How To Contact ?</h2>
            <div data-animate="fadeInUp">
                <a target="_blank" href="mailto:rohandasbirbhum@gmail.com?subject=Hello%20Rohan " class="container"
                    id="round-contact-button">Email Me
                    <i class="fa fa-envelope ml-2 mt-2"></i></a>
                <p></p>
                <a target="_blank" href="https://instagram.com/RohanDasYT" class="container"
                    id="round-contact-button">Follow Me On Instagram
                    <i class="fa fa-instagram ml-2 mt-2"></i></a>
                <p></p>
                <a target="_blank" href="https://twitter.com/RohanDas28" class="container"
                    id="round-contact-button">Follow Me On Twitter
                    <i class="fa fa-twitter ml-2 mt-2"></i></a>
                <p></p>
                <a target="_blank" href="https://youtube.com/RohanDasTech" class="container"
                    id="round-contact-button">Subscribe On YouTube
                    <i class="fa fa-youtube-play ml-2 mt-2"></i></a>
                <p></p>
                <a target="_blank" href="https://github.com/RohanDas28" class="container" id="round-contact-button">
                    Follow Me On Github
                    <i class="fa fa-github ml-2 mt-2"></i></a>
                <p></p>
                <a target="_blank" href="https://www.reddit.com/user/RohanDas28" class="container"
                    id="round-contact-button"> Follow Me On Reddit
                    <i class="fa fa-reddit ml-2 mt-2"></i></a>
            </div>
</section>