<!-- Nav-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="{{site.url}}"><img src="{{site.url}}{{site.baseurl}}/img/logo-big.png" width="50" height="50"
                class="d-inline-block align-center" alt="logo"></a>
        <button type="button" data-toggle="collapse" data-target="#navbarcollapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars" style="color: white"></span></button>
        <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{site.url}}{{site.baseurl}}#intro" class="nav-link link-scroll">Intro</a></li>
                <li class="nav-item"><a href="{{site.url}}{{site.baseurl}}#about" class="nav-link link-scroll">About</a></li>
                <li class="nav-item"><a href="{{site.url}}{{site.baseurl}}#services" class="nav-link link-scroll">Skills</a></li>
                <li class="nav-item"><a href="{{site.url}}{{site.baseurl}}#contact" class="nav-link link-scroll">Contact</a></li>
                <li class="nav-item"><a href="{{site.url}}{{site.baseurl}}/blog" class="nav-link link-scroll">Blog</a></li>
            </ul>
        </div>
        </div>
    </nav>
</header>