<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2A80EE">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2A80EE">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2A80EE">
<title>{{site.title}} | {{site.tagline}}</title>
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="Rohan Das, ROhan das28, rohan das, rohan, dar, rohan das, rohan das github blog, rohan das yt">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
