<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta.html %}
    {% include stylesheets.html %}
</head>

<body class=bg-gradient>
    {% include header.html%}
    <!-- Blog Container Starts -->
    <div class="container-fluid blog-section">
        <div class="blog-holder">
            <div class="row" data-animate="fadeInDown">
                {% include card.html %}
            </div>
        </div>
    </div>
    <!-- Blog Container Ends -->
    {% include footer.html %}
    <!-- Typed.js DONT TOUCH THIS! -->
    <div id="typed-strings">
    </div>

    {% include js-files.html %}


</body>

</html>
